@model QL_HDNK.Models.NamHoc

@{
    ViewBag.Title = "Chi tiết";
}

<h2>Chi tiết</h2>

<div>
    <h4>Năm học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNamHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNamHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuNgay)
        </dt>

        <dd>
            @(Model.TuNgay.HasValue ? Model.TuNgay.Value.ToString("dd/MM/yyyy") : "-")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DenNgay)
        </dt>

        <dd>
            @(Model.DenNgay.HasValue ? Model.DenNgay.Value.ToString("dd/MM/yyyy") : "-")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNamHoc }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>



