@model QL_HDNK.Models.DanhMucDiem

@{
    ViewBag.Title = "Chi tiết";
}

<h2>Chi tiết</h2>

<div>
    <h4>Danh mục điểm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemToiDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemToiDa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMucDiem2.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMucDiem2.TenDanhMuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaDanhMuc }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>



